# Dependency directories
node_modules/
package-lock.json

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store

# IDE and editor files
.idea/
.vscode/

# Build and temporary files
dist/
build/
coverage/